@model List<WebApplication1.Models.Academic>

<head>
    <link href="~/css/list.css" rel="stylesheet" media="all" />
</head>

<body>
    <h2 class="page-title">Academic List</h2>
    <div class="card custom-card">
        <div class="card-header custom-card-header">
            <h3 class="italic">
                <a href="/Academic/Create" class="btn add-student-btn">
                    <i class="fa fa-plus-circle"></i> Add Academic
                </a>
            </h3>
            <div class="search-container">
                

            </div>
        </div>
    </div>


    <!-- Table Section -->
    <div class="table-responsive">
        <table class="custom-table" id="tbl-list">
            <thead>
                <tr>
                <tr>
                    <th>Trainee Id</th>
                    <th>Examination</th>
                    <th>Board</th>
                    <th>school</th>
                    <th>percentage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@(a.Trainee != null ? a.Trainee.VTRId : "Not Assigned")</td>
                        <td>@a.Examination</td>
                        <td>@a.Board</td>
                        <td>@a.School</td>
                        <td>@a.Percentage</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Academic" asp-route-id="@a.Id" class="btn edit-btn "><i class="fa fa-plus-circle"> Edit</i></a>
                            <a asp-action="Delete" asp-controller="Academic" asp-route-id="@a.Id" class="btn delete-btn "><i class="fa fa-plus-circle"> Delete</i></a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>









