@model List<WebApplication1.Models.Family>

<head>
    <link href="~/css/list.css" rel="stylesheet" media="all" />
</head>

<body>
    <h2 class="page-title">Family Detail List</h2>
    <div class="card custom-card">
        <div class="card-header custom-card-header">
            <h3 class="italic">
                <a href="/Family/Create" class="btn add-student-btn">
                    <i class="fa fa-plus-circle"></i> Add Family
                </a>
            </h3>
            <div class="search-container">
                

            </div>
        </div>
    </div>

    <!-- Table Section -->
    <div class="table-responsive">
        <table class="custom-table" id="tbl-list">
            <thead>
                <tr>

                    <th>

                      <a style="color:white; text-decoration:none;" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]" asp-route-searchString="@Context.Request.Query["searchString"]">
                            V.T.R ID↧
                            </a>
                    </th>
                    <th>
                        <a style="color:white; text-decoration:none;" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]" asp-route-searchString="@Context.Request.Query["searchString"]">
Father Name
                        </a>
                    </th>
                    <th> 
                        <a style="color:white; text-decoration:none;" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]" asp-route-searchString="@Context.Request.Query["searchString"]">
                            Mother Name
                        </a>
                    </th>
                    <th>Sister Name</th>
                    <th>Brotehr Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@(student.Trainee != null ? student.Trainee.VTRId : "Not Assigned")</td>
                        <td>@student.FatherName</td>
                        <td>@student.MotherName</td>
                        <td>@student.SisterName</td>
                        <td>@student.BrotherName</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Family" asp-route-id="@student.Id" class="btn edit-btn "><i class="fa fa-plus-circle"> Edit</i></a>
                            <a asp-action="Delete" asp-controller="Family" asp-route-id="@student.Id" class="btn delete-btn "><i class="fa fa-plus-circle"> Delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>








